<form  (ngSubmit)="onSubmit()" [formGroup]="parselForm" novalidate action="" method="post"   >
    <h2>{{title}}</h2>
    <label>Length (mm)</label>
    <input type="text" min="1" formControlName="p_length" >
    <label>Breadth (mm)</label>
    <input type="number" min="1" formControlName="p_breadth" >
    <label>Height (mm)</label>
    <input type="number" min="1" formControlName="p_height" >
    <label>Weight (kg)</label>
    <input type="number" min=".001" formControlName="p_weight" >
    <button type="submit" [disabled]='!parselForm.valid'  >Submit</button>


    <div *ngIf="formErrors.p_length" >
        {{ formErrors.p_length }}
    </div>


    <p *ngIf="freightInfo">{{freightInfo.msg}} <span *ngIf="freightInfo.cost"> - ${{freightInfo.cost}}</span>  </p>



</form>